body{
    background-color: darkslategrey;
 }
 
 p{
    color: antiquewhite;
    font-size: 20px;
 }
 
 h1{
    text-align: center;
 }

 .wrapper{
     text-align: center;
 }
 
 .button{
    visibility: hidden;
    background-color: wheat;
 }

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* For mobile phones: */
    .button{
        width: 100px;
        height: 80px;
        font-size: 30px;
        visibility: visible;
    }
}

 #score{
    text-align: center;
 }
 
 .clear{
    clear: both;
 }
 #size-bloc{
    margin-left: -50px;
    padding-left: 50%;
 }
 
 #size-title{
    float: left;
    margin-top: 0px;
 }
 
 #size{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
 }
 
 #num-bloc{
    margin-left: -50px;
    padding-left: 50%;
 }
 
 #num-title{
    float: left;
    margin-top: 0px;
 }
 
 #num{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
 }
 
 #canvas{
    background-color: white;
 }
 
 #canvas-block{
    margin-left: -250px;
    padding-left: 50%;
 }


 
 